@font-face{
    font-family: berylium;
    src: url("berylium rg.ttf");
}

body{
    background-image: url(../img/tree1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    -webkit-background-image: url(../img/tree1.jpg);
    -webkit-background-size: cover;
    -moz-background-image: url(../img/tree1.jpg);
    -moz-background-size: cover;
    -o-background-image: url(../img/tree1.jpg);
    -o-background-size: cover;
    z-index: -1;

}

#header{
    background: transparent;
    overflow: auto;
    height: 93vh;
    color: #f8f8f8;
    margin: 0;
    padding-top: 25vh;
    text-align: right;
    padding-left: 10vh;
}

#header h1 {
    font-family: berylium;
}

#header h2{
    font-family: berylium;
}
