@font-face{
	font-family: knorke;
	src: url("Knorke.ttf");
}

@font-face{
	font-family: domine;
	src: url("Domine-Regular.ttf");
}

@font-face{
	font-family: newsflash;
	src: url("newsflash.ttf");
}

@font-face{
	font-family: lumos;
	src: url("LUMOS.TTF");
}

@font-face{
	font-family: berylium;
	src: url("berylium rg.ttf");
}

@font-face{
	font-family: ironlatch;
	src: url("Iron Latch.TTF");
}




body{
	background-image: url(../img/tree1.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: right center;
	background-attachment: fixed;
	-webkit-background-image: url(../img/tree1.jpg);
	-webkit-background-size: cover;
	-moz-background-image: url(../img/tree1.jpg);
	-moz-background-size: cover;
	-o-background-image: url(../img/tree1.jpg);
	-o-background-size: cover;
}

h1 {
	font-family: berylium;
	font-size: 5em;
	color: #f8f8f8;
}

h2 {
	font-size: 3.5em;
	font-family: berylium;
	color: #f8f8f8;
}

h3 {
	font-family: berylium;
}

h4 {
	font-family: berylium;
}

p {
	font-size: 0.40em;
	color: 063852;
	font-family: berylium;
}

#quote{
	background-color: rgba(0,0,0,0);
	color: #f8f8f8;
	font-family: berylium;
	font-size: 0.75em;
}

kbd {
	font-size: 0.5em;
	background-color: rgba(0,0,0,0);
	color: #f8f8f8;
}

a:hover{
	cursor:pointer;
}


#navvy {
	font-size: 1.35em;
	font-family: berylium;
}

#b00 {
	font-family: berylium;
}

@media (max-width: 767px){
	h1{font-size:0.85em;}
	h2{font-size: 2.25em;}
	h3{font-size: 2em;}
	small{font-size: 2.5em;}
	p{font-size: 0.5em;}
	#quote{ font-size: 0.65em;}
	kbd{font-size: 0.35em;}
	body{
		background-image: url(../img/tree1.jpg);
		background-attachment: fixed;
		background-position: right;
		margin: 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
}	


#header{
	height: 93vh;
	margin:0;
	text-align: right;
	color: #FFFFFF;

	background-color: transparent;
}

#blackBar{
	color: #FFFFFF;
}

#more{
	position: fixed;
	right: 10px;
	color: #FFFFFF;
}



#title{
	padding-top: 20vh;
	font-size: 3em;
	background-color: rgba(0,0,0,0);
	padding-bottom: 50px;
	
}

#profile{
	padding-top: 75px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	background-color: #f8f8f8;
	text-align: right;
	color: #b38867;
}

#profile h2{
	color: #b38867;
}

#profile small{ 
	color: #b38867;
}

#profilePhoto{
	width: 20em;
	margin:0;
	border: 5px solid #b38867;
	height: auto;

}

#details{
	border-radius: 10%;	
	text-align: left;
}

#about3{
	color: #b38867;
	font-family: berylium;
	font-size: 0.9em;
	
}

#education{
	padding-top: 75px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	color: #f8f8f8;
	background-color: #b38867;
}

#technicalSkills{
	padding-top: 75px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	color: #b38867;
	background-color: #f8f8f8;
}

#technicalSkills h2{ 
	color: #b38867;	
}

#technicalExperience{
	padding-top: 75px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	color: #f8f8f8;
	background-color: #b38867;
}

#technicalExperience a{
	color: #f8f8f8;
}

#projects{
	padding-top: 75px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	color: #b38867;
	background: rgba(248,248,248, 0.75);
}

#projects figure{
	height: 100%;
	display: block;
	overflow: hidden;
}

#projects figcaption{
	position: absolute;
	height: 100%;
	width: 100%;
	padding-left: 20px;
	opacity: 0;
	bottom: 0;
	left: -30%;
	color: #f8f8f8;
	background: rgba(0,0,0,0.75);
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}

#projects figure:hover figcaption {
	opacity: 1;
	left: 0;
}

#projects h2{
	color: #000000;
}

#portfolio{
	padding-top: 75px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	color: #f8f8f8;
	background-color: #b38867;
}

#portfolio h2{
	color: #f8f8f8;
}

#contact{
	background-color: #626d71;
	padding-top: 10px;
	padding-bottom: 75px;
	overflow: auto;
	margin: 0;
	color: #cdcdc0;
	
}

.contactCats {
	padding-bottom: 50px;
	color: #f8f8f8;
}

.contactCats a{
	color: #f8f8f8;
}

#blackBar{
	background-color: #000000;
	height:7vh;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
	display: block;
	width: auto;
}

.customHover{
	background-color: #DCDCDC;
	color: #f8f8f8;
}
